
{{define "head"}}
{{partial "head.html" . }}
{{end}}
{{define "main"}}
<!-- Main Page -->
<!-- {{partial "3dgraph.html" .}} -->
<style>
* {
  box-sizing: borderbox;
  overflow: hidden;
}

.sidetext {
  background-color: rgba(0,0,0, .0);
  height: 100%;
  border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  width: 500px;
  padding: 50px;
  position: fixed;
    overflow: hidden;
  z-index: 0;
  top: 0;
  left: 0;
  transition: .3s ease-out;
}
.sidetext:hover {

  background-color: rgba(var(--tertiary) .6);
  backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur( 30px );
  box-shadow: 0 0px 10px 0 rgba(0,0,0, 0.1 );
}

singlePage::-webkit-scrollbar {
    display: none;

  .3dgr {

  }
</style>

<div class = "3dgr">
  {{partial "3dgraph.html" .}}
  </div>
<div class="singlePage">

<div class = "sidetext">
  {{partial "darkmode.html" .}}
{{.Content}}
      <!-- Contact Info -->
      <div id="contact_buttons">
          <footer>
              <p>Made by {{ $.Site.Data.config.name }} using <a href="https://github.com/jackyzha0/quartz">Quartz</a>, © {{ dateFormat "2006" now }}</p>
              {{ if not .IsHome }}
              <a href="/">Home</a>
              {{end}}
              {{- range $.Site.Data.config.links -}}
              <a href="{{.link}}">{{.link_name}}</a>
              {{- end -}}
          </footer>
      </div>
    </div>
</div>

{{- with resources.Get "darkmode.js" | minify -}}
<script>
  {{.Content | safeJS }}
</script>
{{- end -}}
{{end}}
